.header
	.nav
		a
			width 12%
.hcl-top-wrap
	ul.list
		li
			vertical-align middle
			a
				color #000
// .form 
// 	table
// 		img
// 			width 50px
.footer
	a
		color #000

.hcl-top-wrap .name-list A
	width 19%
